// configure login page
$login-background-color: #FFFEFE;
$login-button-color: #C5AB79;
$login-button-hover-color:#5F4031;
$login-background-color-error-input: #5F4031;
$login-background-color-success-input: #FFFEFE;



// configure primary color and secondary color
// dark mode
$primary-color-dark: #5d606c;
$secondary-color-dark: #88CCFF;
$text-color-dark: #88CCFF;
$card-color-dark: #323541;
$sidebar-color-dark: #323541;
$disabled-color-dark: #636363;



// light mode
$primary-color-light: #FFFEFE;
$secondary-color-light: #5F4031;
$text-color-light: #FFFEFE;
$card-color-light: #C5AB79;
$sidebar-color-light: #5F4031;
$disabled-color-light: #C5AB79;